<div class="hero bg-neutral/70 min-h-screen" id="about_me">
  <div class="hero-content  text-center">
    <div class="max-w-2xl">
      <h1 class="text-3xl font-bold text-secondary">About Me</h1>
      <p class="py-6 bg-base-100 p-6  rounded-lg shadow-lg">
        My name is Mahmoud Mabrouk Ghallab, and I’m a dedicated Full Stack Developer with a strong focus on building complete digital solutions from backend architecture and database design to clean, responsive front-end interfaces.
        <br>
        I specialize in Django, Python, Flutter, Firebase, and modern JavaScript, and I enjoy developing real-world applications, including medical management systems, auction platforms, and interactive tools.
        I’m passionate about writing maintainable code, delivering smooth user experiences, and continuously learning new technologies.
        <br>
        I love solving complex problems and transforming ideas into reliable, scalable applications.
        <br>
        My goal is simple: build clean, efficient software that makes people’s lives easier.
      </p>
    </div>
  </div>
</div>