---
import HeroImage from "../assets/images/hero-image.jpg";
---

<div class="hero bg-neutral/70 min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse mt-10">
    <img
      src={HeroImage.src}
      class="max-w-3xs rounded-lg shadow-2xl"
    />
    <div class="bg-base-100 p-6 rounded-lg shadow-lg">
      <h1 class="text-5xl font-bold">Full Stack Developer Building Scalable & Modern Web Apps</h1>
      <p class="py-6">
        I'm Mahmoud Ghallab, 
        a Full Stack Developer passionate about creating high-quality, fast, and user-friendly digital experiences. 
        I specialize in building complete solutions from backend architecture to polished front-end interfaces.
      </p>
      <a href="#my_work" class="btn btn-primary">View My Work</a>
    </div>
  </div>
</div>